@model Luxury_Shop.Models.Brand

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ti = ViewBag.Title;
}

<h2>Mô tả</h2>

<div>
    <h4>Thương hiệu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BrandID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
