@model Luxury_Shop.Models.AccountListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ti = "Quản Lý Thương hiệu";
}

<link href="~/Css/table.css" rel="stylesheet" />
<link href="~/Css/palisst.css" rel="stylesheet" />
<h2>Thêm thương hiệu</h2>

<a href="@Url.Action("create")" class="btn-create">Tạo Mới</a>
<table class="table">
    <tr>
        <th>
            Tên thương hiệu
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Logo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.listhuonghiru)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogoURL)
            </td>
            <td>
                <div class="button-container">
                    <button class="button edit-button" onclick="location.href='@Url.Action("Edit", "Brands", new { id = item.BrandID })'">Edit</button>

                    @using (Html.BeginForm("Delete", "Brands", FormMethod.Post, new { id = item.BrandID }))
                    {
                        @Html.AntiForgeryToken() @Html.Hidden("id", item.BrandID)
                        <button type="submit" onclick="return confirm('Bạn có chắc chắn muốn xóa không?');" class="button delete-button">Xóa</button>
                    }
                </div>
            </td>
        </tr>
    }

</table><div class="pagination">
    @if (Model.PageNumber > 1)
    {
        <a href="@Url.Action("index", new { pageNumber = Model.PageNumber - 1, pageSize = Model.PageSize })" class="prev">Trước</a>
    }

    @for (int i = 1; i <= (int)Math.Ceiling((double)Model.TotalRecords / Model.PageSize); i++)
    {
        <a href="@Url.Action("index", new { pageNumber = i, pageSize = Model.PageSize })" class="@(i == Model.PageNumber ? "active" : "")">@i</a>
    }

    @if (Model.PageNumber < (int)Math.Ceiling((double)Model.TotalRecords / Model.PageSize))
    {
        <a href="@Url.Action("index", new { pageNumber = Model.PageNumber + 1, pageSize = Model.PageSize })" class="next">Tiếp theo</a>
    }
</div>
