@model Luxury_Shop.Models.User

@{
    ViewBag.Title = "dashboard";
    if (ViewBag.Admin != null && ViewBag.Admin == true)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_MasterLayout.cshtml";
    }
    ViewBag.ti = ViewBag.Title;
}
<link href="~/Content/Users/index.css" rel="stylesheet" />
<body>
    <div class="container">
        <h1>Thông Tin Tài Khoản</h1>
        <div class="account-info">
            <div class="info">
                <strong>Tên đăng nhập:</strong>
                <p>@Model.Username</p>
            </div> <div class="info">
                <strong>Họ Tên:</strong>
                <p>@Model.FullName</p>
            </div>
            <div class="info">
                <strong>Email:</strong>
                <p>@Model.Email</p>
            </div>
            <div class="info">
                <strong>Số Điện Thoại:</strong>
                <p>@Model.Phone</p>
            </div>
            <div class="info">
                <strong>Địa Chỉ:</strong>
                <p>@Model.Address</p>
            </div><div class="info">
                <strong>Ngày tạo tài khoản:</strong>
                <p>@Model.CreatedAt</p>

            </div>
        </div>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.UserID }, new { @class = "edit-button" })
    </div>
</body>

