<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FARCTECH</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/MasterLayout/header.css" />
</head>

<body>
    <header>
        <div class="header-container">
            <div class="item" style="flex-grow: 1; text-align: left;">
                <p>FARCTECH</p>
            </div>
            <div class="search-cart" style="display: flex; align-items: center;">
                <div class="search-bar" style="margin-right: 20px;">
                  @using (Html.BeginForm("timkiem", "Products", FormMethod.Get))
                  {
                        <input type="text" name="query" placeholder="Tìm kiếm sản phẩm..." style="padding: 5px; width: 200px; border: 1px solid #ccc; border-radius: 4px;">
                  <input type="submit" value="Tìm kiếm" />  
                  }
                </div>
                <div class="cart">
                    <a href="@Url.Action("ShowCart", "ShoppingCart")">
                        <img src="~/Content/images/shopping-cart (1).png" alt="Giỏ hàng" style="width: 30px; height: 30px;">
                    </a>
                </div>
            </div>
        </div>
        <nav>
            <ul>
                <li>@Html.ActionLink("TRANG CHỦ", "HomePage", "HomePage")</li>
                <li class="dropdown">
                    <a href="@Url.Action("ViewProductsByCategory", "Products", new { categoryId = 1 })">ÁO NAM</a>
                    <div class="dropdown-content">
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 1, brandId = 1 })">Gucci</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 1, brandId = 2 })">Balenciaga</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 1, brandId = 3 })">Burberry</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 1, brandId = 4 })">Off-White</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand", "Products", new {categoryId = 1, brandId = 5 })">Dsquared2</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="@Url.Action("ViewProductsByCategory", "Products", new { categoryId = 2 })">QUẦN NAM</a>
                    <div class="dropdown-content">
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 2, brandId = 2 })">Balenciaga</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 2, brandId = 5 })">Dsquared2</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 2, brandId = 4 })">Off-White</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 2, brandId = 3 })">Burberry</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 2, brandId = 1 })">Gucci</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="@Url.Action("ViewProductsByCategory", "Products", new { categoryId = 3 })">ÁO KHOÁC</a>
                    <div class="dropdown-content">
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 3, brandId = 2 })">Balenciaga</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 3, brandId = 5 })">Dsquared2</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 3, brandId = 4 })">Off-White</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 3, brandId = 3 })">Burberry</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 3, brandId = 1 })">Gucci</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="@Url.Action("ViewProductsByCategory", "Products", new { categoryId = 4 })">DÉP NAM</a>
                    <div class="dropdown-content">
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 4, brandId = 2 })">Balenciaga</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 4, brandId = 5 })">Dsquared2</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 4, brandId = 4 })">Off-White</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 4, brandId = 3 })">Burberry</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 4, brandId = 1 })">Gucci</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="@Url.Action("ViewProductsByCategory", "Products", new { categoryId = 5 })">PHỤ KIỆN</a>
                    <div class="dropdown-content">
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 5, brandId = 2 })">Balenciaga</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 5, brandId = 5 })">Dsquared2</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 5, brandId = 4 })">Off-White</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 5, brandId = 3 })">Burberry</a> <hr>
                        <a href="@Url.Action("ViewProductsByCategoryAndBrand","Products", new {categoryId = 5, brandId = 1 })">Gucci</a>
                    </div>
                </li>
                @if (ViewBag.check == null)
                {
                    <li class="login">
                        @Html.ActionLink("Đăng nhập", "login", "Users")

                    </li>
                    <li class="register">
                        @Html.ActionLink("Đăng ký", "create", "Users")

                    </li>
                }
                else
                {
                    <li class="profile">
                        <a href="@Url.Action("Index", "Users")"> @ViewBag.use</a>
                    </li>


                    <li class="logout">
                        @Html.ActionLink("Đăng xuất", "logout", "Users")

                    </li>
                }
            </ul>
        </nav>
        <script>
            // Toggle Dropdown Menus
            document.querySelectorAll('.dropdown').forEach(dropdown => {
                dropdown.addEventListener('mouseenter', function () {
                    const content = this.querySelector('.dropdown-content');
                    if (content) content.style.display = 'block';
                });
                dropdown.addEventListener('mouseleave', function () {
                    const content = this.querySelector('.dropdown-content');
                    if (content) content.style.display = 'none';
                });
            });
            // Dynamic Banner Text Animation
            const bannerTitle = document.querySelector('.banner-title');
            if (bannerTitle) {
                const words = ['SALE NOW ON: UP TO 50% OFF', 'EXCLUSIVE DEALS', 'LIMITED TIME OFFER'];
                let currentIndex = 0;

                setInterval(() => {
                    bannerTitle.style.opacity = '0';
                    setTimeout(() => {
                        currentIndex = (currentIndex + 1) % words.length;
                        bannerTitle.textContent = words[currentIndex];
                        bannerTitle.style.opacity = '1';
                    }, 500);
                }, 3000);
            }
        </script>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><a>Liên hệ</a> <a>Giới thiệu</a> <a>Service</a></p>
                    <p>Hotline tư vấn & mua hàng: 0703060629</p>
                    <p>Góp ý & Khiếu nại: 0975078344 - 0977776061  Email: <a href="mailto:etefthcm@gmail.com">etefthcm@gmail.com</a></p>
                    <p>Địa chỉ: 46 Hoa Đào P2 Q.Phú Nhuận TP.HCM  Hộ kinh doanh: ETEFT  MST: 0316641930</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>


