@model Luxury_Shop.Models.OrderViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/showcart.css" />
@if (Model.Cart != null && Model.Cart.Items.Any())
{
    <div class="cart-container">
        @foreach (var item in Model.Cart.Items)
        {
            <div class="cart-item">
                <div class="img-display">
                    <img src="@Url.Content("~/img/" + item.Product.ImageURL)" alt="@item.Product.ProductName">
                </div>
                <div class="cart-item-details">
                    <h3>@item.Product.ProductName</h3>
                    <p><span>Size:</span> @item.Size</p>
                    <p><span>Quantity:</span> @item.Quantity</p>
                    <p><span>Price:</span> @string.Format("{0:N0} $", item.Product.OriginalPrice)</p>
                    <p><span>Total:</span> @string.Format("{0:N0} $", item.Product.OriginalPrice * item.Quantity)</p>
                </div>
                <a href="@Url.Action("RemoveFromCart", "Cart", new { item.Product.ProductID })" class="remove-item">Bỏ</a>
            </div>
        }
        </div>

        <!-- Hiển thị tổng tiền -->
        <p><strong>Total: @string.Format("{0:N0} vnd", Model.Cart.GetTotalAmount())</strong></p>

        <!-- Nút điều hướng -->
        <div class="cart-actions">
            <!-- Nút Tiếp tục mua hàng -->
            <a href="@Url.Action("HomePage", "HomePage")" class="btn btn-secondary">Tiếp tục mua hàng</a>

            <!-- Nút Thanh toán -->
            <form action="@Url.Action("Index", "Checkout")" method="get" style="display: inline;">
                <button type="submit" class="btn btn-primary">Thanh toán</button>
            </form>
        </div>
        }
        else
        {
        <p>GIỎ HÀNG CÒN TRỐNG <a href="@Url.Action("HomePage", "HomePage")">MUA HÀNG NGAY</a></p>
        }
